export AZURE_TRANSLATOR_KEY=""  # Replace with your Azure Translator key
export AZURE_TRANSLATOR_REGION=""  # Replace with your Azure Translator region
export GOOGLE_TRANSLATE_KEY=""
export GEMINI_API_KEY=""