export AZURE_TRANSLATOR_KEY="aa90830b901d4bf68b9ec3c81a320b67"  # Replace with your Azure Translator key
export AZURE_TRANSLATOR_REGION="uksouth"  # Replace with your Azure Translator region
export GOOGLE_TRANSLATE_KEY="AIzaSyAF_0manQ3RrljxYk9dmjkRQYJVWv2UIAY"
export GEMINI_API_KEY="AIzaSyAi6BeQFDbwUuwGK2jYcAuJceR8tWrxYJ4"